<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="icon"  type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/style.css">
    <title>PizzaTrack-a realtime orderd pizza tracking app</title>
</head>
<body>
    <!-- navbar starts -->
    <nav class="container mx-auto flex justify-between item-center my-4">
        <div>
           <a href="/"> <img src="img/logo.png" alt="logo"></a>
        </div>
        <div>
            <ul class="flex  item-center">
                <li class="mx-6"><a href="/">Home</a></li>
                <li class="mx-6"><a href="/offer">Offer</a></li>
                <li class="mx-6"><a href="/register">Register</a></li>
                <li class="mx-6"><a href="/login">Login</a></li>
                <li class="mx-6"><a href="/cart" class="inline-block px-4 py-2 rounded-full"><img src="img/cart.png" alt="cart"></a></li>
            </ul> 
        </div>
    </nav>
      <!-- navbar expired -->
    <%-body%>
    <script src="script/script.js"></script>
</body>
</html>