
<% for(let Myitem of Object.values(session.cart.items)) { %>

<div class="pizza-list mt-5 ">
    <div class="flex items-center">
        <img class="w-24" src="img/pizza.png" alt="">
        <div class="ml-4 flex-1">
            <h2><%- Myitem.item.name%></h2>
            <span><% -Myitem.item.size%></span>
        </div>
        <span class="flex-1"><%- Myitem.qty%></span>
        <span class="font-bold"><%= Myitem.item.price * Myitem.qty%></span>
    </div>
</div>

<% }%>